/* Import design tokens first */
@import './tokens.css';

body {
  margin: 0;
  font-family: var(--font-family-system);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-family-mono);
}
